<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>密码找回</title>
    <link rel="stylesheet" type="text/css" href="./static/layui/css/layui.css"/>
    <link rel="stylesheet" href="./static/layui/style/admin.css" media="all">
    <link rel="stylesheet" href="./static/layui/style/login.css" media="all">
    <script src="./static/layui/layui.js"></script>
    <script src="./static/js/vue.js"></script>
    <script src="./static/js/axios.min.js"></script>
    <script src="request.js"></script>
</head>
<body class="my-body-info">
<div id="app">
    <div class="layadmin-user-login layadmin-user-display-show" id="LAY-user-login" style="display: none;">

        <div class="layadmin-user-login-main">
            <div class="layadmin-user-login-box layadmin-user-login-header">
                <h2>密码找回</h2>
                <h3 style="text-align: center;">{{mySystemName}}</h3>
            </div>
            <div class="layadmin-user-login-box layadmin-user-login-body layui-form">
                <div class="layui-form-item">
                    <label class="layadmin-user-login-icon layui-icon layui-icon-username"
                           for="LAY-user-login-username"></label>
                    <input type="text" name="username" id="LAY-user-login-username" lay-verify="required"
                           placeholder="用户名"
                           v-model="username"
                           class="layui-input">
                </div>
                <div class="layui-form-item">
                    <label class="layadmin-user-login-icon layui-icon layui-icon-username"
                           for="LAY-user-login-username"></label>
                    <input type="text" name="phone" id="LAY-user-login-username2" lay-verify="required"
                           placeholder="电话"
                           v-model="phone"
                           class="layui-input">
                </div>
                <div class="layui-form-item">
                    <label class="layadmin-user-login-icon layui-icon layui-icon-username"
                           for="LAY-user-login-username"></label>
                    <input type="text" name="email" id="LAY-user-login-usernam3" lay-verify="required"
                           placeholder="邮箱"
                           v-model="email"
                           class="layui-input">
                </div>

                <div class="layui-form-item" style="margin-bottom: 20px;">
                    <input type="checkbox" name="remember" lay-skin="primary" title="记住密码">

                </div>
                <div class="layui-form-item">
                    <button @click="myLogin()" class="layui-btn layui-btn-fluid" lay-filter="LAY-user-login-submit">
                        点我找回
                    </button>
                </div>
                <div class="layui-form-item">
                    <a href="login.html" class="layui-btn layui-btn-primary layui-btn-fluid">点我登陆</a>
                </div>

            </div>
        </div>

    </div>
</div>
</body>

<script>
    //注意：导航 依赖 element 模块，否则无法进行功能性操作
    var layer;
    layui.use(['element', 'layer'], function () {
        var element = layui.element;
        layer = layui.layer;
        //…
    });

    layui.use('form', function () {
        var form = layui.form;

        form.on('submit(formDemo)', function (data) {
            layer.msg(JSON.stringify(data.field));
            return false;
        });
    });
    // 存储
    var app = new Vue({
        el: '#app',
        data() {
            return {
                mySystemName: "",   //系统名称
                codeImgURL: "", //验证码图片地址
                code: "", //验证码
                codeInput: "", //输入验证码
                username: "",//用户登录信息存储
                password: "123456",//用户登录信息存储
                phone: "",//用户登录信息存储
                email: "",//用户登录信息存储
            }
        },
        created() {
            this.mySystemName = mySystemName;//加载系统名称
            this.refreshCode();

        },
        mounted() {

        },
        updated() {

        },
        methods: {
            refreshCode() {  //刷新验证码

            },
            myLogin() {
                if (this.username == "") {
                    layer.msg("用户名不能为空");
                    return false;
                }
                if (this.phone == "") {
                    layer.msg("电话不能为空");
                    return false;
                }
                if (this.email == "") {
                    layer.msg("邮箱不能为空");
                    return false;
                }
                var url = '/selectAction';
                var username = this.username;
                var phone = this.phone;
                var email = this.email;
                var password = this.password;
                var data = {"sql": `select * from userinfo where name='${username}' and phone='${phone}' and email='${email}'`};
                post(url, data).then(response => {
                    if (response.status == 200) {
                        if (response.data.length > 0) {
                            var url = '/updateAction';
                            var data = {"sql": `update userinfo set password='${password}' where name='${username}' and phone='${phone}' and email='${email}' `}
                            post(url, data).then(response => {
                                if (response.status == 200) {
                                    layer.msg('密码已重置为123456', {
                                        offset: '15px'
                                        , icon: 1
                                    }, function () {
                                        window.location.href = "login.html";
                                    });
                                } else {
                                    layer.alert(response.msg);
                                }
                            }).catch(err => {
                                console.log(err);
                            });
                        } else {
                            layer.alert("用户名 邮箱 电话不匹配，无法找回");
                        }
                    } else {
                        layer.alert(response.msg);
                    }
                }).catch(err => {
                    console.log(err);
                });
            },
        }
    });

</script>
<style>
    body {
        background: url('./static/bgA-2.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-attachment: fixed;
    }

    .layadmin-cmdlist-fluid {
        background: rgba(255, 255, 255, 0.80);
        margin-top: 0px;
        padding-top: 30px;
    }

    .layadmin-user-login-main {
        background-color: rgba(255, 255, 255, 0.5);
    }
</style>
</html>
